body{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 8px 28px;
}

/*START header section*/

header{
    background-color: #1F2937;
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

header p{
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0;
}

a{
    text-decoration: none;
}

/*END header section */

/*START content section*/

/*START first div*/

h1{
    margin-bottom: 0;
}

.hero-div p{
    margin: 5px;
}

.hero-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    background-color: #1F2937;
    padding: 100px;
}

.hero-div div{
    width: 40%;
    min-width: 300px;
}

.hero-div h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-div p{
    color: #E5E7EB;
    font-size: 18px;
}

.image-container{
    width: 40%;
    height: 300px;
    min-width: 300px;
    overflow: hidden;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*END first div*/

/*START second div*/

.image-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.div-container{
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-div .image-container{
    width: 200px;
    min-width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.image-div img{
    width: 400px;
}

.div-container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
}

h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 50px;
}

/*END second div*/

/*START third div*/

.quote-div{
    padding-top: 100px;
    padding-bottom: 100px;
}