body{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 8px 28px;
}

/*START header section*/

header{
    background-color: #1F2937;
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

header p{
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0;
}

a{
    text-decoration: none;
}

/*END header section */

/*START content section*/

/*START first div*/

.hero-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    background-color: #1F2937;
    padding: 100px 10% 100px 10%;
}

.hero-div div{
    width: 40%;
    min-width: 300px;
}

.hero-div h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-div p{
    color: #E5E7EB;
    font-size: 18px;
}

.hero-div img{
    width: 40%;
    min-width: 300px;
    background-color: aliceblue;
}

/*END first div*/

/*START second div*/

.image-div{
    display: flex;
    flex-direction: column;
}